
<header>

    <h1>{{title}}</h1> <!cada pagina en que use el header, va a mostrar el valor de title>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>