
<!DOCTYPE html>


<html>

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}  <! le agrego el encabezado sacado de la pagina de header>

            <p>This site was created by Eduardo Mauriz.</p>

            <p>git status</p>
            <p>git add .</p>
            <p>git commit -m "new update"</p>
            <p>git push</p>
            <p>git push heroku main</p>

            <img class="portrait" src="/img/pic1.jpg">
        
        </div>
        <p>{{>footer}}</p>
    </body>


    </html>
